<nav class="navbar">
  <div class="brand-icon-searchCtn">
    <div class="brand-icon-ctn">
      <a href="/">
        <i class="fab fa-facebook" class="brand-icon"></i>
      </a>
    </div>
    <div class="search-form">
      <form action="/search">
        <div>
          <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" class="search-input" id="search" placeholder="Search Friend" name="search_query" />
        </div>
      </form>
    </div>
  </div>
  <div class="icons-ctn">
    <div>
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <div>
      <a href="/chats">
        <i class="fab fa-facebook-messenger"></i>
      </a>
      <div class="no-of-messages">
        <%= currentUser.personalChats.reduce((val,chatRoom)=> {
          if(chatRoom.messages.some((msg) => String(currentUser._id) !== String(msg._id) && msg.isReaded === false)){
          return val + 1;
          } else {
          return val;
          }
          },0) %>
      </div>
    </div>
    <div>
      <a href="/friends">
        <i class="fas fa-user-friends"></i>
      </a>
      <div class="no-of-requests">
        <%= currentUser.requests.length %>
      </div>
    </div>
    <div>
      <a href="#">
        <i class="fas fa-bell"></i>
      </a>
      <div class="no-of-notifications">5</div>
    </div>
  </div>
  <div class="user-page-redirect-btn">
    <button class="drop-down-menu-btn">
      <img src=<%=currentUser.profilePicture%>
      alt="" class="user-img" />
    </button>

    <div class="drop-down-menu display-none">
      <span class="arrow">
      </span>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>