<nav class="navbar">
    <div class="brand-icon-ctn">
        <a href="">
            <i class="fab fa-facebook" class="brand-icon"></i>
        </a>
    </div>
    <div class="search-area">
        <form action="#">
            <input type="text" placeholder="Search.....">
        </form>
    </div>
    <div class="icons-ctn">
        <a href="">
            <i class="fas fa-home"></i>
        </a>
        <a href="">
            <i class="fab fa-facebook-messenger"></i>
            <div class="no-of-messages">5</div>
        </a>
        <a href="" class="notifications">
            <i class="fas fa-bell"></i>
            <div class="no-of-notifications">5</div>
        </a>
    </div>
</nav>