* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  scrollbar-width: thin;
  list-style: none;
}

html {
  height: 100%;
}

body {
  background-color: #F0F2F5;
  min-height: 100%;
  overflow-y: scroll;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

span {
  display: inline-block;
}

input {
  border: 0;
  outline: 0;
  display: inline-block !important;
}
input,
textarea:focus {
  outline: none !important;
}

button {
  background-color: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  display: inline-block;
}

/* =================== scroll bar ======================= */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 204, 204);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* remaining for firefox and other browsers */

/* ================= TOP CSS======================= */

.display-none {
  display: none !important;
}
/* ======================POST============================= */
.post {
  background-color: #D6EAFF;
  border-radius: 10px;
  margin: 0 0 80px 0;
}

/* postheader */

.post-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.post-header .post-user-img-ctn {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.post-header .post-user-img-ctn .post-user-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.post-header .user-name-date {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-header .user-name-date .username {
  margin-bottom: 5px;
}

.user-name-date .date-time span {
  margin-right: 10px;
}

.post-header .morebtn-ctn {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
  position: relative;
  top: 0;
}

.post-header-pop-up-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 150px;
  height: 150px;
  background-color: white;
  color: black;
  top: 60px;
  right: 0px;
  font-size: 1.1em;
  border-radius: 10px;
  padding: 10px 0;
  z-index: 10;
  box-shadow: 0 0 2px black;
}

/* .post-header-pop-up-options div{
  displ
} */

.post-header-pop-up-options div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.post-header-pop-up-options div:hover {
  background-color: rgb(204, 197, 197);
  cursor: pointer;
}

.post-header .morebtn-ctn .more-btn {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  background-color: initial;
  border: none;
  outline: none;
  z-index: 10;
}

.post-header .morebtn-ctn .more-btn:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #92b8e6;
}

/* post body */
.post-body {
  width: 100%;
}

.post-body .post-caption {
  font-size: 1.2em;
  padding: 10px 10px;
  padding-bottom: 0;
}
.post-img-ctn {
  margin-top: 20px;
  height: 400px;
  position: relative;
}

.post-body .post-img-ctn .post-img {
  width: 100%;
  object-fit: scale-down;
}

/* likes count ctn */

.post .likes-comment-count {
  padding-left: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post .likes-comment-count .like-count,
.post .likes-comment-count .comment-count,
.post .likes-comment-count .dot {
  margin: 0px 5px;
}

.post .likes-comment-count .dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
}

/* post footer */

.post-footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #000;
}

.post-footer button {
  width: 150px;
  height: 50px;
  font-size: 1.1em;
  background-color: inherit;
  border: none;
  outline: none;
}
.post-footer button:hover {
  background-color: #9bbee9;
  border-radius: 10px;
  cursor: pointer;
}

/* comment */

.comments-ctn {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #000;
}

.comment {
  width: 100%;
  background-color: #b7ecfc;
  margin: 10px 0;
  border-radius: 10px;
  padding-top: 10px;
}

.comment-header {
  display: flex;
  /* justify-content: space-between; */
}

.comment-header .commentators-img-ctn {
  width: 15%;
  padding-left: 15px;
}

.comment-header .commentators-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.comment-header .commentators-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.comment-header .comment-morebtn-ctn {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}
.comment-header .drop-down-menu-comment {
  position: absolute;
  top: 50px;
  left: -40px;
  height: auto;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.comment-header .drop-down-menu-comment:hover {
  background-color: rgb(114, 111, 111);
}
.comment-header .comment-morebtn-ctn .comment-morebtn {
  background-color: inherit;
  height: auto;
  width: auto;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 5px;
}

.comment-header .comment-morebtn-ctn .comment-morebtn:hover {
  background-color: #d84545 !important;
  border-radius: 20px;
  cursor: pointer;
  width:70%;
}

.comment-body {
  padding-left: 20px;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
}

.comment-body .comment-text {
  font-size: 1.2em;
}

/* ================= create post form ====================== */
/* create post form */
.create-post-form {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c5d5e8;
  margin-bottom: 25px;
  border-radius: 10px;
}

.create-post-form-input:hover {
  cursor: pointer;
}
.create-post-form-input {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  border: none;
}
.create-post-form .loggedin-user-img-post {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* overlay */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(182, 169, 166, 0.808);
  /* filter: blur(2px); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/* create post form */
.overlay .create-post-overlay {
  height: 65%;
  width: 50%;
  min-width: 500px;
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: #30a6aa;
  /* padding: 20px 10px; */
  overflow-y: auto;
}

.create-post-overlay .create-post-title {
  height: 70px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  padding: 10px 10px;
  border-bottom: 0.5px solid cyan;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.create-post-title .title-ctn {
  display: flex;
  justify-content: center;
  width: 80%;
}
.create-post-title .close-btn-ctn {
  display: flex;
  justify-content: center;
  width: 10%;
}
.create-post-title .close-btn-ctn button:hover {
  cursor: pointer;
}

.create-post-title .close-btn-ctn button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: aqua;
  color: white;
  font-size: 35px;
}

.create-post-title .placeholder {
  width: 10%;
}

.create-post-user-img-ctn {
  width: 10%;
}

.create-post-user-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.create-post-user-info .create-post-user-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.create-post-user-name span {
  font-size: 1.5em;
}
.create-post-user-name {
  width: 80%;
}

.create-post-form-overlay {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.create-post-caption {
  height: 50%;
  font-size: 1.25em;
  padding: 10px;
  resize: none;
  border-radius: 10px;
}

.create-post-img-link {
  height: 20%;
  padding-left: 10px;
  font-size: 1.25em;
  border-radius: 10px;
}

.create-post-submit-btn-ctn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.create-post-submit-btn-ctn .submit-btn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: blue;
  border-radius: 5px;
}

/* ================================Error============================================ */
.errorCtn {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -500px;
  transition: all 0.75s;
}

.error {
  width: auto;
  max-width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 10px;

}

.show {
  top: 100px !important;
}

.marginB {
  margin-bottom: 10px !important;
}

/*  swippers */
.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-button-next:hover{
background-color: rgba(173,232,255,0.2);
height:70px;
width:40px;
}

.swiper-button-prev:hover{
background-color: rgba(173,232,255,0.2);
height:70px;
width:40px;
} */


/* .swiper-wrapper {
  position: relative;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100% !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.noscroll {
  overflow: hidden;
}
/* Loading animation */
.loading-animation-ctn {
  width: 100%;
  height: auto;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* rings */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(184, 49, 49);
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* comment form */

.create-comment-form {
  width: 100%;
  height: auto;
  padding: 10px;
  border-top: 0.5px solid #9ebfe6;
}

.comment-form {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
}

.comment-form .img-ctn {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-form .btn-ctn {
  width: 20%;
}
.comment-form .text-input {
  width: 65%;
  height: auto;
}

.comment-loggedIn-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-body-input {
  height: 100% !important;
  resize: none;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  font-size: 1.15em;
}
.comment-form .btn-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-form .btn-ctn button {
  height: 50px;
  width: 75px;
  font-size: 2em;
  background-color: #85B4EA;
  color: white;
  border-radius: 5px;
}

.comment-form .btn-ctn button:hover{
cursor: pointer;
transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.comment-form .btn-ctn button:focus {
  transform: scale(0.95);
}
