.container {
  width: 60%;
  margin: auto;
  height: 700px;
  overflow-y: auto;
  background-color:#ADD8E6;
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 15px;
}

.heading{
width:30%;
height:80px;
padding: 10px;
margin: 25px auto;
display: flex;
justify-content: center;
font-size: 2.5em;
border: 2px solid black;
border-radius: 15px;
background-color:#F0FFFF;
}

.chats {
  width: 100%;
  height: auto;
}

.chat {
  width: 70%;
  height: 100px;
  background-color: #F0FFFF;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.3);

}

.chat:hover{
  cursor: pointer;
  transform: translateY(-3px);
}

.chat a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.chat a img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.chat a h2 {
  display: flex;
  justify-content: center;
  
  text-transform: capitalize;
  padding-left: 25px;
}

.unread{

}