/* div containing all the elements */

.main-ctn {
  width: 80%;
  height: 100%;
  display: block;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/*------------------------- Main body --------------------------*/

.main {
  width: 50%;
  min-height: 100%;
  display: block;
  /* margin: 20px auto; */
  /* border: 2px solid black; */
  background-color: inherit;
}

/*==========================Main body ===========================*/

/* logged in user information --- aside tag */
.loggedin-user-info {
  width: 20%;
  height: 300px;
  position: sticky;
  top: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcf8f7;
  border-radius: 10px;
}

.loggedin-user-info .profile-img-ctn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.loggedin-user-info .profile-img-ctn .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
/* right sidebar */

.sidebar2 {
  width: 20%;
  height: 400px;
  border: 1px solid black;
  position: sticky;
  top: 100px;
}

/* load more btn */

.loadmore-btn {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  /* height: 50px; */
  width: auto;
  padding: 10px;
  background-color: cadetblue;
  margin-bottom: 50px;
  border-radius: 10px;
}

.loadmore-btn:hover {
  cursor: pointer;
}
/* ============================= footer ==================== */

.footer {
  width: 100%;
  background-color: black;
  height: 100px;
  position: absolute;
  bottom: 0;
}

/* top pririority classes */

.comment-click-btn {
  background-color: #9bbee9 !important;
  border-radius: 10px !important;
}

.noscroll {
  overflow: hidden;
}
/* loading animation */

.loading-animation-ctn {
  width: 100%;
  height: auto;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* rings */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(184, 49, 49);
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 1000px) {
  .loggedin-user-info {
    display: none;
  }
  .main-ctn {
    width: 90%;
  }
  .main {
    width: 70%;
  }
  .sidebar2 {
    width: 25%;
  }
}

@media all and (max-width: 700px) {
  .sidebar2 {
    display: none;
  }

  .main {
    width: 90%;
  }
}

.no-more-posts {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
