/* div containing all the elements */

.main-ctn {
  width: 80%;
  height: 100%;
  display: block;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/*------------------------- Main body --------------------------*/

.main {
  width: 50%;
  min-height: 100%;
  display: block;
  /* margin: 20px auto; */
  /* border: 2px solid black; */
  background-color: inherit;
}

/*==========================Main body ===========================*/

/* logged in user information --- aside tag */
.loggedin-user-info {
  width: 20%;
  height: 300px;
  position: sticky;
  top: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcf8f7;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.3);
  font-size: 1.2em;
}

.loggedin-user-info .profile-img-ctn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.loggedin-user-info .profile-img-ctn .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

like-btn {
  cursor: pointer;
}
/* right sidebar */

.sidebar2 {
  width: 25%;
  max-height: 400px;
  overflow-y: auto;
  /* border: 1px solid black; */
  position: sticky;
  top: 100px;
  padding: 5px;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.3);
}

.suggestions {
  width: 100%;
  height: 70%;
}

.suggestion {
  width: 100%;
  height: auto;
  display: flex;
}

.suggestion .suggestion-img {
  width: 30%;
}

.suggestion img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.suggestion-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  height: 15%;
}

.suggestion .suggestion-username {
  width: 60%;
  text-transform: capitalize;
}
/* load more btn */

.loadmore-btn {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  /* height: 50px; */
  width: auto;
  padding: 10px;
  background-color: #74bce6;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 150%;
}

.loadmore-btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* top pririority classes */

.comment-click-btn {
  background-color: #6d9dc5 !important;
  border-radius: 10px !important;
}

@media all and (max-width: 1000px) {
  .loggedin-user-info {
    display: none;
  }
  .main-ctn {
    width: 90%;
  }
  .main {
    width: 70%;
  }
  .sidebar2 {
    width: 25%;
  }
}

@media all and (max-width: 700px) {
  .sidebar2 {
    display: none;
  }

  .main {
    width: 90%;
  }
}

.no-more-posts {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-posts {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5d5e8;
  border-radius: 10px;
}

.no-posts a {
  color: blue;
}
.no-posts a:hover {
  text-decoration: underline;
}
