.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* background-color: #c5d5e8; */
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 8px 2px #000000;
  /* box-shadow: 0px 2px 2px gray ; */
}

.navbar i {
  font-size: 1.25em;
}

.logo {
  height: 150px;
  width: 150px;
}

.brand-icon-searchCtn {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-icon-ctn i {
  font-size: 2.5em;
}
.brand-icon-ctn {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  margin-left: 10px;
}

.icons-ctn {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons-ctn > div {
  margin: auto 1.5em;
  position: relative;
  top: 0;
}
/* 
.search-form form div {
  border-radius: 100px;
  display: flex;
  background-color: white;
  color: #6d6875;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.search-form {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 50%;
}
.search-form form {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 100%;
  width: 150px;
  font-size: 1.25em;
  padding-left: 5px;
}

.search-form label {
  height: 100%;
  width: 100%;
  text-align: center;
} */

.search-redirect-btn-ctn {
  width: 70%;
  height: 50px;
  border-radius: 50%;
  /* background-color: blue; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-right: 1em;
}

.dummy-input-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-input-nav :hover {
  cursor: pointer !important;
}

.dummy-input {
  height: 30px;
  width: 200px;
  display: inline-block !important;
  background-color: #bdbdbd;
  border-radius: 100px;
  font-size: 20px;
  padding-left: 10px;
  display: inline-block;
}


.search-redirect-btn {
  font-size: inherit;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.user-page-redirect-btn {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  position: relative;
  top: 0;
}

.user-page-redirect-btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-page-redirect-btn img:hover {
  cursor: pointer;
}
.user-page-redirect-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.no-of-notifications,
.no-of-requests,
.no-of-messages {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -5px;
  left: 15px;
  border-radius: 50%;
  background-color: #6cafb2;
  z-index: 10;
  text-align: center;
}

@media all and (max-width: 1000px) {
  /* .search-form form div {
    height: 35px;
    min-width: 35px;
    z-index: 100;
    border-radius: 35px;
  }
  .search-form .search-input {
    height: 0;
    width: 0;
  } */
  .search-input:focus {
    height: 100%;
    width: 100vw;
    background-color: white;
    /* border-radius: inherit; */
    padding: 10px;
    font-size: 1.25em;
  }

  .icons-ctn > div {
    margin: auto 1.75em;
  }
}

.drop-down-menu {
  position: absolute;
  top: 65px;
  height: auto;
  width: 150px;
  /* padding: ; */

}

.drop-down-menu ul {
  height: 100%;
  width: 100%;

  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 1.2em;
}

.drop-down-menu form {
  width: 100%;
}

.drop-down-menu form > button {
  width: 100%;
  font-size: inherit;
  color: #f1dab0 !important;
}

.drop-down-menu ul li {
  /* padding-left: 10px; */
  background-color: rgb(209, 205, 205);
  margin: 10px auto;
  height: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.drop-down-menu ul li:hover{
  cursor: pointer;
}

span.arrow {
  height: 10px;
  width: 10px;
  transform: rotateZ(45deg);
  position: absolute;
  top: 2px;
  left: 70%;
  background-color: black;
}

.username-ctn-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-transform: capitalize;
}
.username-ctn-nav > span {
  margin-right: 10px;
}

@media all and (max-width: 900px) {
  .dummy-input {
    display: none !important;
  }
}
.delete-user-btn{
  color: rgb(0, 0, 0);
  font-size: 0.85em;

}

.delete-user-btn:hover{
  cursor: pointer;
}
