.main-ctn {
  width: 80%;
  margin: auto;
  height: auto;
  margin-top: 25px;
}

.profile-background-img {
  background-image: url("https://www.hellomagazine.com/imagenes/film/20210317109117/the-big-bang-theory-cast-real-life-children/0-526-707/the-big-bang-theory-insta-a-a.webp?filter=high");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); blur effect */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
}

.profile-img-ctn {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 5px solid white;
  object-fit: cover;
}

.username {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
.username h2 {
  font-size: 2em;
}

.description {
  width: 100%;
  margin: 5px;
  text-align: center;
}

.description p {
  font-size: 1.25em;
}

.friends-posts-ctn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.user-posts {
  width: 50%;
}

.friends {
  width: 47%;
  background-color: #c4bab8;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  position: sticky;
  top: 90px;
}

.friends-title {
  width: 100%;
  text-align: center;
  margin: 5px1 0;
  font-size: 2.5em;
}

.friends-ctn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.friend {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.friend .friend-img {
  height: 90px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.friend .friend-name {
  width: 100%;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}
.friend .friend-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
