.main-ctn {
  width: 80%;
  margin: auto;
  height: auto;
  margin-top: 25px;
}

.profile-background-img {
  background-image: url("https://www.hellomagazine.com/imagenes/film/20210317109117/the-big-bang-theory-cast-real-life-children/0-526-707/the-big-bang-theory-insta-a-a.webp?filter=high");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); blur effect */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
}

.profile-img-ctn {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile-img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 5px solid white;
  object-fit: cover;
}

.username {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
.username h2 {
  font-size: 2em;
}

.description {
  width: 100%;
  margin: 5px;
  text-align: center;
}

.description p {
  font-size: 1.25em;
}
