<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="CSS/app.css" />
	<link rel="stylesheet" href="CSS/navbar.css" />
	<link rel="stylesheet" href="CSS/footer.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
		integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="/CSS/register.css" />
	<script src="/JS/app.js" defer></script>
	<link rel="shortcut icon" href="/assets/VibeIn-without-text.png">
	<title>Register | VibeIn</title>
</head>

<body>
	<!-- <%= error %> -->
	<div class="container">
		<div class="logo"><img src="/assets/logo_without_text.jpg" alt=""></div>
		<div class="header">
			<h2>Sign Up</h2>
		</div>
		<form class="form" action="/auth/register" method="POST" enctype="multipart/form-data">
			<div class="form-control">
				<label for="username" name="username">Username</label>
				<input id="txtUserName" type="text" name="username" autofocus autocomplete="off" />
				<small>Error Message</small>
			</div>

			<div class="form-control">
				<label for="email" name="email">Email</label>
				<input id="txtEmail" type="email" name="email" autocomplete="off" />
				<small>Error Message</small>
			</div>

			<div class="form-control">
				<label for="pwd" name="pwd">Password</label>
				<input id="txtPwd" type="password" name="password" autocomplete="off" />
				<small>Error Message</small>
			</div>

			<div class="form-control">
				<label for="conpwd" name="conpwd">Confirm Password</label>
				<input id="txtConPwd" type="password" name="conpwd" autocomplete="off" />
				<small>Error Message</small>
			</div>

			<div class="form-control">
				<label for="profilepicture">Profile-Pic : </label>
				<input type="file" name="profilePicture" id="profilepicture" autocomplete="off" />
			</div>

			<div class="form-control">
				<button>Register</button>
			</div>

			<div class="form-control log_in">
				<p>Already have an account <a href="/login">Log In</a></p>
			</div>
		</form>
	</div>
	<script src="/JS/register.js"></script>

</body>

</html>